<p id="notice"><%= notice %></p>

<h1>Polishes</h1>

<div class="row">
  <% @polishes.each do |polish| %>
    <%= render polish %>
  <% end %>
</div>

<br>

<%= link_to 'New Polish', new_polish_path %>

<%= paginate @polishes %>
